﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ Title }}</title>
</head>
<body>
    <h1>Hello {{ Name }}!</h1>
    <div>
        <p>Your favourite colours are:</p>
        <ul>
            {% for colour in Colours %}
            <li>{{ colour }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>Your last {{ Addresses | size }} address(es):</p>
        <ul>
            {% for address in Addresses %}
            <li>
                <dl>
                    <dt>Street:</dt>
                    <dd>{{ address.Street }}</dd>
                    <dt>City:</dt>
                    <dd>{{ address.City }}</dd> 
                    <dt>Province:</dt>
                    <dd>{{ address.Province }}</dd> 
                    <dt>Postal Code:</dt>
                    <dd>{{ address.PostalCode }}</dd>                                      
                </dl>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>Big Cities By Country</p>
        <ol>
            {% for country in Countries %}
            <li>
                <p>Country: {{ country.Name }}</p>
                <ol>
                    {% for city in country.Cities %}
                    <li>{{ city }}</li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>